.publication-authors {
}

.publication-authors a {
   transition-duration: 0.4s;
}

.publication-authors a:hover {
    text-decoration: underline;
    background-color: #93c5da; /* Green */
    color: white;
}

.author-block {
  display: inline-block;
  font-size: x-large;
  padding: 5px;
  color:white;

}
.place-block {
    font-size: medium;
    color:white;

}

.link-button:hover {

}
