@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.author-block {
  display: inline-block;
}
body {
  font-family: 'Noto Sans', sans-serif;
}

.title {
    font-size: xx-large;
    text-shadow: 3em;
    font-family: 'Roboto';
    font-weight: 550;
    font-style: normal;
    color:white;
}
/* FIRST HEADER*/
.app {
    font-family: 'Noto Sans', sans-serif;
    background-color: #3570ad;
    align-self: center;
    align-items: center;
    height: 18em;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

}
/* TRANSITIONS INTO THIS */
.header2 {

}
.content {
    background-color: white;
    height: 1000px;
}
.link-button {
    border-radius: 8px;
    background-color: #71abd8;
    /* border: 2px solid black; */
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    
}
.link-button {
    transition-duration: 0.4s;
}
.link-button:hover {
  background-color: #93c5da; /* Green */
  color: white;
}

/* first text box content */
.heading {
    font-size: xx-large;
    text-shadow: 3em;
    padding-top: 3em;
    padding-left: 5em;
    color: #3570ad;
}
.first-box {
    font-size: medium;
    padding-top: 10px;
    padding-left: 10em;
    margin-right: 50em;
}